AWS_ACCESS_KEY_ID = <key>
AWS_SECRET_ACCESS_KEY = <secret_key>
AWS_ASSET_ID = <asset_id>
AWS_DATASET_ID = <dataset_id>
AWS_REVISION_ID = <revision_id>
AWS_PATH = "/v1"

UTELLY_API_KEY = <api_key>
UTELLY_HOST = <host>

CLIENT_ID = <client>
CLIENT_SECRET = <client secret>

MONGO_DB_USER = generic
MONGO_DB_PASSWORD = <password>
